.card {
    width: 260px;
    height: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15), 0 4px 8px rgba(0,0,0,0.20);
    border-radius: 4px;
    margin: 4px 20px 36px 20px;
    flex: 1 0 calc(33% - 40px);
    min-width: 420px;
}

.card_top {
    padding: 20px;
    text-align: center;
    width: 140px;
    display: inline-block;
}

.card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.card_bottom {
    padding: 20px;
    border-left: 1px solid var(--greenDark);
    color: var(--greenDark);
    width: calc(100% - 221px);
    display: inline-block;
    vertical-align: top;
    height: 140px;
}

.card_bottom h2 {
    margin: 0 0 20px 0;
}

.card_bottom p {
    margin: 0;
    word-break: break-all;
}

@media screen and (max-width: 500px) {
    .card {
        height: 120px;
    }

    .card_top {
        width: 80px;
    }
    
    .card img {
        width: 80px;
        height: 80px;
    }

    .card_bottom {
        width: calc(100% - 161px);
        height: 80px;
    }
}

@media screen and (max-width: 460px) {
    .card {
        flex: 1 0 calc(100% - 40px);
        min-width: 320px;
    }
}